header{
    margin: 0;
    background-color: black;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
}

header img{
    padding: 15px;
    margin-left: 5rem;
    width: 180px;
   
}


.newfiled{
    width: 50%;
    height:6rem;
    background-color: white;
    padding: 10px;
    font-size: 1.3rem;
    box-shadow: 2px 4px #adacac;
    border-radius: 5px;
}
.newfiled input{
    border: transparent;
    width: 100%;
}

.newfiled .gender{
    border: transparent;
    width: 100%;
}

.newfiled .container-gender{
    border: transparent;
    width: 100%;
    padding-top:20px;
    padding-right: 30px;
}


.newfiled p{
    width: 100%;
    border-bottom: 1px solid red;
    /* padding-bottom: 10px; */
    color:red;
}

.newfiled input:focus{
    outline: none;
}

.newfiled .gender:focus{
    outline: none;
}
